.pokecard{
   background-color:  #212529;
   display: flex;
   flex-direction: column;
   width: 30%;
   margin: auto;
   margin-top: 40px;
}

.pokecard img{
    margin: 30px auto;
}
.card-texts{
    color: #fff;
    padding-left: 20px;
}