form{
    width: 30%;
    margin: auto;
}

form label{
    width: 100%;
    text-align: center;
    color: #ffffff;
}

form input{
    width: 100%;
}

button{
    display:block;
    width: 30%;
    margin: auto;
}

